/*instalation : https://sass-lang.com/install npm i -g sass + check dans les variables d'environement*/
/*POUR .SASS OU .SCSS FILEWATCHER PHP ET WEB STORM OU live sass compiler pour Vs Code*/

/*Avec une console : sass source/stylesheets/index.scss build/stylesheets/index.css */
/*ex: path C:\wamp64\www\jquery\assets\scss> sass --watch styles.scss:styles.css
*/


$rouge: #9e0000;
$vert: #56724b;
$bleu: #4b839c;
$orange: #d58d00;
$violet: #9e7baa;
$jaune: #e0cf00;
$gris: #6d6262;
$noir: #313131;
$blanc: #ffffff;
$vert-fonce: #456456;

$random-color: rgb(random(255), random(255), random(255));

/*TAILLE POLICE*/
$grand: 2rem;
$moyen: 1rem;
$petit: 0.5rem;

$padding-20: 20px;
$padding-10: 10px;





